{% extends 'base.html' %}
{% block body %}
  <h1>영화 정보 조회 페이지</h1>
  <div>
    <img src="{{movie.poster_url}}" class="card-img-top">
    <div class="card-body">
      <h4 class="card-title">{{movie.title}}</h4>
      <button type="button" class="btn btn-primary">{{movie.score}}</button>
      <a href="http://127.0.0.1:8000/movies/">영화 목록</a>
      <hr>
      <h5>상세 정보</h5>
      <p>{{movie.audience}}</p>
      <p>{{movie.open_data}}</p>
      <p>{{movie.genre}}</p>
      <p>{{movie.watch_grade}}</p>
      <p>{{movie.score}}</p>
      <a href="{{movie.poster_url}}">포스터 보러가기</a>
      <p>{{movie.description}}</p>
    </div>
  </div>
{% endblock%}